body  {
  font-size: 20px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQU3JxPi3MUwnhYEoYM5p00VE6xtSre8WAfX3O8oF96NED9e-N_'); 
  padding: 6px;
  margin: 6px;
}
h1{
  text-align: center;
}
.well, .jumbotron{
  background-color: grey;
}